body {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("../img/bkground2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  line-height: 45px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h2, h3, h4{
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

section {
  padding: 100px 0; 
}

a{
  color: #ffa64d;
}

a:hover{
  color: #ffa64d;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0; 
  }
}

.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px; 
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #fed136;
  border-color: #fed136; 
  color: white;
}

.btn:hover{
  background-color: #fec810;
  border-color: #fec810;
  color: white; 
}

.btn-xl{
  font-size: 18px;
  padding: 20px 40px;
}

#mainNav {
  background-color: #212529; 
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:hover {
    color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

#mainNav .special{
  background-color: white;
  color: black !important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: rgba(33,37,41,0.8);}
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important; }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529; }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

footer {
  padding: 25px 0;
  text-align: center; 
  background-color: rgba(256, 256, 256, 0.2);
}


/* dropdown list when logged in */
.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Sign in modal */

/* Full-width input fields */
#modal input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#modal button {
  background-color: #fed136;
  border-color: #fed136;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#modal button:hover {
  background-color: #fec810;
  border-color: #fec810;
}

/* Extra styles for the cancel button */
#modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
#modal .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}


#modal .container {
  padding: 16px;
}

#modal span.pwd {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
#modal .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

#modal .modal-title{
  text-align: center;
}

/* Modal Content/Box */
#modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

@media (min-width: 992px){
  #modal .modal-content{
    width: 50%;
  }
}

/* The Close Button (x) */
#modal .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#modal .close:hover,
#modal .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
#modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #modal span.psw {
     display: block;
     float: none;
  }
  #modal .cancelbtn {
     width: 100%;
  }
}